#example
{border: 1px solid;
padding: 10px;
box-shadow: 5px 10px;
}

h2 {
    text-shadow: 2px 1px #ca2b2b;
  }

#example2 {
        background-image: 
    url("taustakuvaa.jpg");
    padding:10px;

}
 @media only screen and (max-width: 800px) {
     p {
         font-size: 13px;
     }
     body{
         background-color: burlywood;
         color:rgb(22, 80, 189);
     }
 }


   a:hover {
    color: #CE242B;  
    text-decoration: underline; 
    transition: 1s;
   }

  