
body{
    background-color: #ABE6EC;
    background-image: url("background.jpg");
    padding:35px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:15px;
    margin-left:15px;
}
H1 {
    border-style: solid;
    font-size:30px;
}
p.teksti {
    border-style:groove
}
p.teksti {
    border-radius: 100px;
    background-color: cadetblue;
}
p.teksti {
    padding:35px;
    
}